Flask
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
ReportLab
requests
Flask-Mail
Flask-APScheduler
gunicorn
psycopg2-binary
python-dotenv
waitress
Flask-Migrate
pytz
tzdata
Flask-WTF>=1.2.2,<2
Pillow>=11.3,<13
